
@{
    ViewData["Title"] = "Index";
}

<!-- SEARCH -->
<div id="search">
    <div id="from-city">
        <input class="form-control">
    </div>
    <div id="to-city">
        <input class="form-control">
    </div>
    <div id="from-date">
        <input class="form-control">
    </div>
    <div id="to-date">
        <input class="form-control">
    </div>
    <div id="passengers">
        <input class="form-control">
    </div>
</div>


